/* 
   Adapted from:
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------- end reset ---------- */

body {
  background-color: black;
}

a {
  color: #1600ff;
}
a:hover {
  color: #0b007d;
  text-shadow: #fbffbc 0px 0px 28px ;
  cursor: pointer;
}


h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul, p {
  font-size: 16px;
  margin-bottom: 10px;
}

ul > li > ul {
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 15px;
}

article {
  background-color: #f4f4f4;
}

#container {
  max-width: 1100px;
}

article > header {
  border-bottom: 1px gray solid;
  box-shadow: inset 0 7px 14px -7px rgba(0,0,0,0.7);
  position: relative;
  background-color: rgba(218, 208, 255, 0.68);
}

article > header > h1 {
  padding-left: 20px;
  padding-top: 20px;
}

article {
  border-bottom: 1px black solid;
  position: relative;
}

.content-container {
  padding: 20px;
  position: relative;
}

.rmitdetails span {
  display: inline-block;
  min-width: 115px;
}

.job-image {
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.picture-me {
  float: right;
  padding-left: 5px;
}

.picture-me img {
  max-width: 200px;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
}

@media only screen and (max-width: 470px) {
  .job-image {
    float: none;
    padding: 0;
    margin: 20px;
    text-align: center;
    height: 150px;
    overflow: hidden;
  }
  .picture-me {
    float: none;
    text-align: center;
    padding-left: 0;
  }
}



